* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(#140b5c 0%, #111014 100%);
}
nav {
  position: fixed;
  background: #002;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
}
nav i {
  font-size: 25px;
}
.hero-container {
  background: url("beautiful_scenery_forest_view_under_yellow_blue_cloudy_sky_hd_forest.jpg")
    no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.hero-container .article {
  width: 100%;
  padding-top: 10rem;
  text-align: center;
  color: #fff;
}
.article h3 {
  font-size: 2rem;
}
.article article {
  padding: 1rem;
  color: aqua;
}
/* .btn {
} */
.btn button {
  width: 25%;
  height: 30px;
  border-radius: 10px;
  margin: 2rem;
  font-weight: 600;
  background: linear-gradient(#ccc, #62ce44);
  outline: none;
  border: none;
}

.btn button:hover {
  background: linear-gradient(#62ce44, #ccc);

  font-weight: 700;
}
footer {
  padding: 2px;
  background: linear-gradient(#140b5c 0%, #111014 100%);
}
footer .name-container h3 {
  color: #fff;
  text-align: center;
  font-size: 25px;
  margin: 1.5rem;
}
footer .courses {
  /* display: flex;
  justify-content: space-between; */
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.courses .course-list {
  line-height: 1rem;
  padding: 10px;
}
.courses .course-list h4 {
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
}
/* .courses .course-list ul {
  padding-bottom: 2rem;
} */
.courses .course-list ul li {
  list-style: none;
  /* border: 2px solid red; */
  margin-bottom: 0.5rem;
}
.courses .course-list ul li a {
  /* border: 2px solid white; */
  text-decoration: none;
  color: #ccb;
}
.courses .course-list ul li a:hover {
  text-decoration: underline;
}
.sub-sect {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.sub-sect > div input[type="email"] {
  /* border: 2px solid red; */
  width: 100%;
  height: 40px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 10px;
  border: none;
}
/* .sub-sect > div input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
} */

.sub-sect .button button {
  width: 75px;
  height: 45px;
  font-size: 1rem;
  color: #62ce44;
  border-radius: 25px;
  border: none;
  /* margin: auto; */
}

.sub-sect .button button:hover {
  background: #62ce44;
  color: #ccc;
}
.about-section {
  padding: 5px;
  /* background: linear-gradient(#140b5c, #140b30); */
  background: #202024;
}
.about-section h3 {
  text-align: center;
  color: aliceblue;
  padding: 3px;
}
.about-section .image-article-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.image-article-container .image-container .img {
  content: url("odogwu_natty.jpg");

  height: 10rem;
  width: 10rem;
  border-radius: 10px;
  object-fit: cover;
}

.image-article-container .article-container h4 {
  color: aliceblue;
  padding: 5px 0;
}

.article-container p {
  color: aliceblue;
}
.policy-section {
  background-color: #202024;
  padding: 16px 5px 5px 5px;
}
.policy-section .service-policy-sect {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.policy-section .service-policy-sect h3 {
  text-align: center;
  font-size: 25px;
  color: #ccc;
}
.policy-section .service-policy-sect .policy-head .policy {
  padding: 10px;
}
.policy-section .service-policy-sect .policy-head .policy h4 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  color: #ccf;
  text-align: center;
  padding: 10px 0;
}
.service-policy-sect .policy-head .policy div p {
  color: aliceblue;
}
.service-policy-sect .policy-head .policy div p a {
  color: #717073;
  text-decoration: none;
}
.service-policy-sect .policy-head .policy div p a:hover {
  text-decoration: underline;
  color: #1a06b6;
}
.subscription {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* justify-content: space-between; */
  gap: 0.5rem;

  background-color: #292930;
}
.subscription .sub-container {
  border: 1px solid #ff1;
  border-radius: 10px;
  padding: 5px;
  background: #ccf;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.subscription .sub-container h3 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(175, 169, 169);
}
.subscription .sub-container div .amount {
  font-size: 30px;
  font-weight: 600;
  color: #787676;
}
.subscription .sub-container div .duration {
  color: #787676;
}
hr {
  margin: 10px 0;
}
.subscription .sub-container div .tags {
  list-style: none;
}
.subscription .sub-container div .tags li {
  padding-bottom: 10px;
}
.subscription .sub-container div .tags li:hover {
  text-decoration: underline;
}
.subscription .sub-container div .sub-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}
.subscription .sub-container div .sub-btn button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(135deg, #140b5c, #3e2782);
  color: #ccc;
}
.subscription .sub-container div .sub-btn button:hover {
  background: #2ecc71;
  color: white;
  border-color: transparent;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  body {
    background: linear-gradient(#140b5c 0%, #111014 100%);
    width: 100%;
  }
  nav {
    position: fixed;
    top: 0;
    text-align: center;
    padding: 10px 0;
  }

  .hero-container .article {
    padding-top: 5rem;
  }

  .article h3 {
    font-size: 1.5rem;
    padding: 0 1rem;
  }

  .btn button {
    width: 90%;
    margin: 1rem auto;
    display: block;
  }

  footer .courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
    font-size: 12px;
  }
  /* footer .name-container {
    text-align: center;
  } */
  footer .name-container h3 {
    font-size: 15px;
  }
  .courses .course-list ul {
    margin-left: 10px;
    width: 100%;
  }
  .hero-container .article {
    margin-top: 2rem;
  }

  .sub-sect {
    /* flex-direction: column; */
    align-items: center;
    /* gap: 1rem; */
  }

  /* .sub-sect > div input[type="text"]  */
  .sub-sect > div input[type="email"] {
    width: 100%;
  }

  /* .sub-sect .button button {
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
  } */
  .name-container h3 {
    font-size: 10px;
    padding: 2px;
    align-items: start;
  }
  .about-section h3 {
    padding-top: 15px;
  }
  .about-section .image-article-container {
    flex-wrap: wrap;
  }
  .image-article-container .image-container .img {
    height: 80%;
    width: 100%;
    border-radius: 20px;
    padding: 2rem;
  }
  .image-article-container .article-container h4 {
    color: aliceblue;
    padding: 2.5px 0;
  }
  .article-container p {
    color: aliceblue;
    padding: 0.5rem;
  }
  .image-article-container .image-container h3 {
    font-size: 20px;
  }
  .article-container h4 {
    font-size: 18px;
  }
  .service-policy-sect .policy-head .policy h4 {
    font-size: 12px;
  }
  .service-policy-sect .policy-head .policy p {
    font-size: 15px;
  }
  .service-policy-sect .policy-head .policy div h4 {
    font-size: 20px;
  }
  .subscription {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .hero-container {
    /* background-size: cover; */
    height: auto;
    width: 100%;
    padding-bottom: 3rem;
  }
  .article h3 {
    font-size: 1.2rem;
  }

  .article article {
    font-size: 0.9rem;
  }

  footer .name-container h3 {
    font-size: 20px;
  }
}
